.section-title-q{
    text-shadow: 1px 1px 7px rgb(171, 207, 216);
}
.section-title{
    text-shadow: 1px 1px 5px rgb(171, 207, 216);
}
.services-container {
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.services-content {
    position: relative;
    border: 2.5px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
    background-image: linear-gradient(190deg, #f6fffe, #bcd3eb, #a7b0c4, #d8b87efa);
    color: #e8eec6;
    margin-top: 70px;
    border-radius: 30%;    
    text-align: center;
    text-indent: -13%;
}

.services-icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services-title {
    font-size: var(--h4-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    margin-left: -10px;
    color: rgb(65, 86, 92);
}

.services-button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
    margin-right: 20px;
}

.services-button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.services-button:hover .services-button-icon {
    transform: translateX(00.25rem);
}

.services-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 23, 54, 0.712);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.services-modal-content {
    width: 500px;
    height: 430px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 5rem;
    background-image: linear-gradient(190deg, #6fb0a9, #58669f, #45518d, #0d2836fa);
    color: #d3efea;
}

.services-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.Services-modal-tile,
.services-modal-description {
    text-align: center;
}

.Services-modal-tile {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.services-modal-description {
    font-size: var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}

.services-modal-services {
    row-gap: 0.75rem;
}

.services-modal-service {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.services-modal-icon {
    color: var(--title-color);
    font-size: 1.1rem;
}

.services-modal-info {
    font-size: var(--small-font-size);
    text-align: right;
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}
.imgicon{
    height: 50px;
    margin-right: 10px;
}

/* For large devices */
@media screen and (max-width: 992px) {
    .services-container {
        grid-template-columns: repeat(3, 218px);
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .services-content {
        padding: 3.5rem 0.5rem 1.25rem 2.6rem;
    }

    .services-icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .services-modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .services-modal-description {
        padding: 0;
    }
    .services-button {
        color: var(--title-color);
        font-size: var(--small-font-size);
        display: inline-flex;
        align-items: center;
        column-gap: 0.25rem;
        cursor: pointer;
        margin-right: 0px;
    } 
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .services_container {
        grid-template-columns: max-content; 
    }

    .services-content {
        padding-right: 6rem;
    }
}