.section_title{
    text-shadow: 1px 1px 9px rgb(229, 234, 239);
}
.about_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.about_img {
    width: 340px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about_info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.9rem;
    margin-bottom: var(--mb-2);
}


.about_box {
    background-image: linear-gradient(150deg, #9ea6cf, #c2d4e6, #a1b0d1, #8593a5fa);
    border: 3px solid #707b86;
    border-radius: 1.25rem;
    text-align: center;
    padding: 1.10rem 1.35rem;
    color: #725d5d;
}

.about_icon {
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb-color);
}

.about_title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: rgb(30, 19, 70);
}

.about_subtitle {
    font-size: var(--tiny-font-size);
    color:rgb(15, 41, 46);
}

.about_description {
    padding: 0 1rem 0 2;
    margin-bottom: var(--mb-2-5);
    color: rgb(240, 241, 164);
    font-size: large;
    margin-left: -120px;
}
a{
    margin-left: -135px;
}
.aboutBtn{
    color: #e7e7b2; 
    background-color: #e0dea63a; /* Green */
    border: none;
    border-radius: 10%;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    margin-left: -130px;
    box-shadow: 0 0 50px rgba(222, 222, 189, 0.687)
}
/* For large devices */
@media screen and (max-width: 992px) {
    .about_container {
        grid-template-columns: 2fr;
        row-gap: 2.5rem;
    }

    .about_img {
        width: 220px;
    }

    .about_info {
        justify-content: center;
    }

    .about_box {
        padding: 0.75rem 0.5rem;
    }

    .about_data {
        text-align: center;
    }

    .about_description {
        padding: 0.5rem;
        margin-bottom: 2rem;
        margin-left: 20px;
    }
    a{
        margin-left: 0px;
    }.aboutBtn{
        color: #e7e7b2; 
        background-color: #e0dea63a; /* Green */
        border: none;
        border-radius: 10%;
        padding: 6px 7px;
        text-align: center;
        text-decoration: none;
        display: flexbox;
        margin-left: 4px;
        box-shadow: 0 0 50px rgba(222, 222, 189, 0.687)
    }
}

@media screen and (max-width: 576px) {
    .about_info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about_description { 
        margin-bottom: var(--mb-2-5);
        color: rgb(240, 241, 164);
        font-size: large;
        margin-left: 20px;
    }a{
        margin-left: 0px;
    }
    .aboutBtn{
        color: #e7e7b2; 
        background-color: #e0dea63a; /* Green */
        border: none;
        border-radius: 10%;
        padding: 6px 7px;
        text-align: center;
        text-decoration: none;
        display: flexbox;
        margin-left: 4px;
        box-shadow: 0 0 50px rgba(222, 222, 189, 0.687)
    }
}

/* For small devices */
@media screen and (max-width: 350px) {

    .about_info {
        grid-template-columns: repeat(2, 1fr);
    }
    .about_description { 
        margin-bottom: var(--mb-2-5);
        color: rgb(240, 241, 164);
        font-size: large;
        margin-left: 10px;
    }a{
        margin-left: 0px;
    }
    .aboutBtn{
        color: #e7e7b2; 
        background-color: #e0dea63a; /* Green */
        border: none;
        border-radius: 10%;
        padding: 6px 7px;
        text-align: center;
        text-decoration: none;
        display: flexbox;
        margin-left: -130px;
        box-shadow: 0 0 50px rgba(222, 222, 189, 0.687)
    }
}