.home_container {
    row-gap: 7rem;
}

.home_content {
    grid-template-columns: 100px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    height: 100px;
    margin-left: 100%;
}

.home_social-icon {

    font-size: 1.35rem;
    color: var(--title-color)
}

.home_social-icon:hover {
    color: var(--title-color-dark);
}

.home_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home_emote {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home_subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 1rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home_subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
}

.home_subtitle {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home_img {
    background: url(../../assets//Img/ProfileJoe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(101, 191, 233, 0.3);
    order: 1;
    justify-self: center;
    width: 350px;
    height: 360px;
    border-radius: 30%;
    animation: profile_animate 12s ease-in-out infinite 0.9s;
}

@keyframes profile_animate {
    0% {
        border-radius: 45%;
    }

    50% {
        border-radius: 20% 20% 30% 30%/30% 30% 20% 20%;
    }

    100% {
        border-radius: 45%;
    }
}

.home_scroll {
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

@media screen and (max-width: 992px) {
    .home_content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home_emote {
        width: 26px;
        height: 26px;
    }

    .home_subtitle {
        padding-left: 1rem;
        margin-bottom: var(--mb-1);
    }

    .home_subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home_description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home_img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgba(101, 191, 233, 0.3);
    }
}

@media screen and (max-width: 768px) {
    .home_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home_img {
        order: initial;
        justify-self: initial;
    }

    .home_data {
        grid-column: 1/3;
    }

    .home_img {
        box-shadow: inset 0 0 0 6px rgba(101, 191, 233, 0.3);
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 350px) {

    .home_img {
        width: 180px;
        height: 180px;
    }

    .home_emote {
        width: 22px;
        height: 22px;
    }
}