.home_container {
    row-gap: 7rem;
}

.home_content {
    grid-template-columns: 100px repeat(2, 1fr);
    padding-top: 7.5rem;
    column-gap: 0rem;
    align-items: center;
}

.home_social {
    display:flex;
    column-gap: 0.7rem;
    height: 100px;
    margin-left: 328%;
    margin-bottom: 360%;
}

.home_social-icon {

    font-size: 1.70rem;
    color: var(--title-color);
    margin-left: 0px;
}

.home_social-icon:hover {
    color: var(--title-color-dark);
}

.home_title {
    font-size: 50px;;
    margin-bottom: var(--mb-0-25);
    text-shadow: 1px 1px 6px rgb(209, 219, 230); 
    border-radius: 40%;
    animation: profile_animate 2s ease-in-out infinite 0.9s;
}

.home_emote {
    width: 40px;
    height: 40px;
    margin-left: 0px;
}

.home_subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 10rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home_subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
}

.home_subtitle {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home_img {
    background: url(../../assets/ImgProfile/ManWhithACapAllColor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(23, 10, 70, 0.3);
    order: 1;
    justify-self: center;
    width: 280px;
    height: 280px;
    margin-bottom: 70px; 
    border-radius: 45% 45% 45% 45%;
    position: relative; 
    z-index: 100;  
}  

.sendBtn{
    color: #baa5ee; 
    background-color: #aa93e23a; /* Green */
    border: none;
    border-radius: 10%;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    margin-left: 50px;
    box-shadow: 0 0 50px rgba(163, 127, 162, 0.687)
}
.home_scroll {
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

/* For large devices */
@media screen and (max-width: 992px) {
    .home_content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home_emote {
        width: 26px;
        height: 26px;
        margin-left: 18px;
    }

    .home_subtitle {
        position: relative;
        padding-left: 1rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .home_subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home_description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home_img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgba(101, 191, 233, 0.3);
    }
    .home_social {
        display:flex;
        row-gap: 1rem;
        height: 100px;
        margin-left: 235%;
        margin-bottom: 390%;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .home_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home_img {
        order: initial;
        justify-self: initial;
    }

    .home_data {
        grid-column: 1/3;
    }

    .home_img {
        box-shadow: inset 0 0 0 6px rgba(101, 191, 233, 0.3);
        width: 200px;
        height: 200px;
        margin-left: 20px;
        margin-top: 90px; 
    }
    .home_social {
        display:flex;
        row-gap: 1rem;
        height: 100px;
        margin-left: 160%;
        margin-bottom: 280%;
        position: relative;
    }
    .home_subtitle {
        margin-bottom: var(--mb-1); 
        margin-left: 10%;
        position: relative;
    }
    .sendBtn{
        color: #a88dea;
        box-shadow: #cdc9d6;
        background-color: #9c85d63a; /* Green */
        border: none;
        border-radius: 3%;
        padding: 6px 7px;
        text-align: center;
        text-decoration: none;
        display: flexbox;
        margin-left: 40px;
        font-size: smaller
    }
}
@media screen and (min-width: 445px) and (max-width: 576px) {
    .home_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    } 

    .home_data {
        grid-column: 1/3;
    }

    .home_img { 
        order: initial;
        justify-self: initial;
        box-shadow: inset 0 0 0 6px rgba(101, 191, 233, 0.3);
        width: 200px;
        height: 200px;
        
        margin-left: -27px;
        margin-top: 90px;
    }
    .home_social {
        display:flex;
        row-gap: 1rem;
        height: 100px;
        margin-left: 122%;
        margin-bottom: 270%;
    }
    .home_subtitle {
        margin-bottom: var(--mb-1);
        margin-left: 0px;
        margin-left: 3%;
    }
    .sendBtn{
        color: #a88dea;
        box-shadow: #cdc9d6;
        background-color: #9c85d63a; /* Green */
        border: none;
        border-radius: 3%;
        padding: 6px 7px;
        text-align: center;
        text-decoration: none;
        display: flexbox;
        margin-left: 35px;
        font-size: smaller
    }
}
@media screen and (min-width: 250px) and (max-width: 444px) {
    
    .home_container {
        row-gap: 7rem;
    }
    
    .home_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3rem;
        column-gap: 0rem;
        align-items: center;
    }
    
    .home_data {
        grid-column: 1/3;
    }

    .home_img {
        order: initial;
        justify-self: initial;
        box-shadow: inset 0 0 0 6px rgba(101, 191, 233, 0.3);
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-left: -70px;
        margin-top: 90px; 
    }

    .home_emote {
        width: 25px;
        height: 25px;
    }

    .home_social {
        display:flex;
        row-gap: 1rem;
        height: 100px;
        margin-left: 75%;
        margin-bottom: 220%;
    }

    .sendBtn {
        margin-left: 1;
    }
}
