 
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    background-color: rgba(20, 44, 88, 0.253);
    font-family: 'Poppins', sans-serif; 
} 
/* Agrega un nombre a la animación */
@keyframes moveNavItems {
    0% {
        transform: translateX(0); /* Posición inicial */
    }
    50% {
        transform: translateX(20px); /* Mueve 20px hacia la derecha a la mitad de la animación */
    }
    100% {
        transform: translateX(0); /* Regresa a la posición inicial */
    }
}

.nav {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden; 
    white-space: nowrap; 
} 
.nav a {
    font-size: large;
    animation: moveNavItems 5s linear infinite;
}

.nav_list {
    display: flex;
    column-gap: 6rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #f2f4bf;
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
}

.nav_icon,
.nav_close,
.nav_toggle {
    display: none;
}

/*Active Link*/
.active-link,
.nav_link:hover {
    color: #aa94fa currentColor;
} 

@media screen and (max-width:922px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: 3rem;
    }

    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: #24315e87;
        padding: 3rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(5, 1, 201, 0.15);
        border-radius: 2.5rem 2.5rem 0 0;
        transition: .5s;
    }

    .show-menu{
        bottom: 0;
    }

    .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav_icon {
        font-size: 1.2rem;
    }

    .nav_close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: hsl(28, 85%, 63%);
    }

    .nav_close:hover{
        color: #e4b57b;
    }

    .nav_toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: block;
    }
} 

@media screen and (max-width:538px) {
    .header {
        top: initial;
        bottom: 0;
    } 
    .nav {
        height: 3rem;
    }

    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: #24315e87;
        padding: 3rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(5, 1, 201, 0.15);
        border-radius: 2.5rem 2.5rem 0 0;
        transition: .5s;
    }

    .show-menu{
        bottom: 0;
    }

    .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav_icon {
        font-size: 1.2rem;
    }

    .nav_close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: hsl(28, 85%, 63%);
    }

    .nav_close:hover{
        color: #e4b57b;
    }

    .nav_toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: block;
    }
} 

@media screen and (max-width:350px) {
    .nav_menu{
        padding: 2rem 0.25rem 4rem;
    }

    .nav_list{
        column-gap: 0;
    }
    .nav_icon:hover{
        color: #e4b57b;
    }
}