@import './commonds.scss';

.SideBarMenuItemView {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 5px
   
    a{
        color: antiquewhite;
        text-decoration: none;
        display: block;
        padding: 10px;
        width: 100%;
        border-radius: 5px; 
    }
    .ItemContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        
        @include transition(width);

        &.collapsed{
            width: 35px;
        }
        
        .icon{
            width: 40px;
            height: 32px;
            margin-top: 10%;
        }
        .label {
            font-weight: 500;
            margin-left: 10px;
            overflow: hidden;
            margin-top: 10%;
        }
        
    }
    &:hover {
        background-color: #403a63;
        color: rgb(41, 62, 78)

    }
    &:hover {
        & + .tooltip{
            display: inline-block;
            animation-duration: 0.4s;
            animation-name: tooltip;
        }
    }
    
}.tooltip{
    position: absolute;
    background-color: black;
    left: 70px;
    padding: 10px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
}  

@keyframes tooltip{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


