@import './commonds.scss';

.SideBarMenu {
    background-image: radial-gradient(190deg, #051227, #1f4b8f, #1d8391, #96253d);
    color: rgb(169, 231, 178);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include transition(width);

    &.expanded {
        width: 220px; 
    }

    &.collapsed {
        width: 80px;
        top: 40;
    }

    .menuButton {
        display: flex;
        justify-content: center;

    }

    .NavIcon {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: rgb(184, 209, 231);
        padding: 15px;
        width: 68px;
    }

}

@media screen and (max-width: 992px) {
    .SideBarMenu {
        background-image: radial-gradient(190deg, #051227, #1f4b8f, #1d8391, #96253d);
        color: rgb(169, 231, 178);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    
        @include transition(width);
    
        &.expanded {
            width: 170px;
        }
    
        &.collapsed {
            width: 80px;
            top: 40;
        }
    }
}

@media screen and (max-width: 768px) {
    .SideBarMenu {
        background-image: radial-gradient(190deg, #051227, #1f4b8f, #1d8391, #96253d);
        color: rgb(169, 231, 178);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include transition(width);

        &.expanded {
            width: 120px;
        }

        &.collapsed {
            width: 80px;
            top: 40;
        }
    }
}

@media screen and (max-width: 576px) {
    .SideBarMenu {
        background-image: radial-gradient(190deg, #051227, #1f4b8f, #1d8391, #96253d);
        color: rgb(169, 231, 178);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include transition(width);

        &.expanded {
            width: 90px;
        }

        &.collapsed {
            width: 80px;
            top: 40;
        }
    }
}

@media screen and (max-width: 350px) {
    .SideBarMenu {
        background-image: radial-gradient(190deg, #051227, #1f4b8f, #1d8391, #96253d);
        color: rgb(169, 231, 178);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include transition(width);

        &.expanded {
            width: 90px;
        }

        &.collapsed {
            width: 80px;
            top: 40;
        }
    }
}