.footer {
    background-color: transparent;
    border-top: 1px solid rgb(#383030, rgb(26, 27, 26), rgb(49, 49, 58));
}

.footer_container {
    padding: 2rem, 0 6rem;
}

.footer_title,
.footer_link { 
    color: rgb(56, 15, 15);
}

.footer_title {
    text-align: center;
    margin-bottom: var(--mb-2);
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 9px rgb(218, 204, 154);
}

.footer_link:hover {
    color: var(--title-color-dark);
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 9rem;
    margin-bottom: var(--mb-2);
    margin-left: 100px;
}

.footer_social {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    column-gap: 1.25rem;
    font-size: x-large;
    text-shadow: 1px 1px 7px rgb(171, 207, 216);
}
.footer_social-link {
    background-color: rgb(132, 149, 163);
    color: rgb(107, 156, 156);
    font-size: 1.25;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer_social-link:hover {
    background-color: rgb(191, 204, 214);
}

.footer_copy {
    display: block;
    margin-top: 3rem;
    color: rgb(56, 15, 15);
    text-align: center;
    font-size: var(--medium-font-size);
}
@media screen and (max-width: 992px){ 
    .footer_social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1.5rem;
    }
     .footer_list {
        display: flex;
        justify-content: center;
        column-gap: 0rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        column-gap: 1.25rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
  
  }

@media screen and (max-width: 768px) {
    .footer_social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1.5rem;
    }
     .footer_list {
        display: flex;
        justify-content: center;
        column-gap: 0rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        column-gap: 1.25rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
}

@media screen and (max-width: 576px) {
    .footer_container {
        padding: 1rem, 0 6rem;
    }

    .footer_list {
        display: flex;
        justify-content: center;
        column-gap: 0rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        column-gap: 1.25rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
}
/* For cell devices */

@media screen and (max-width: 390px) {

    .footer_container {
        padding: 1rem, 0 6rem;
    }

    .footer_container {
        padding: 1rem, 0 6rem;
    }

    .footer_list {
        display: contents;
        justify-content: center;
        column-gap: 0rem;
        margin-bottom: var(--mb-2);
        margin-left: 0px;
    }
    .footer_link { 
        color: rgb(56, 15, 15); 
    }
    .footer_social {
        display: flex;
        justify-content: center;
        column-gap: 1.25rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
}

/* For small devices */
@media screen and (max-width: 350px) {

    .footer_container {
        padding: 1rem, 0 6rem;
    }

    .footer_container {
        padding: 1rem, 0 6rem;
    }

    .footer_list {
        display: flex;
        justify-content: center;
        column-gap: 0rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        column-gap: 1.25rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
}