.footer {
    background-color: transparent;
    border-top: 1px solid rgb(#383030, rgb(26, 27, 26), rgb(49, 49, 58));
}

.footer_container {
    padding: 2rem, 0 6rem;
}

.footer_title,
.footer_link { 
    color: rgb(252, 250, 248);
}

.footer_title {
    text-align: center;
    margin-bottom: var(--mb-2);
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px 9px rgb(82, 81, 80);
}
.footer_subtitle{
    text-align: center;
    color: rgb(64, 36, 110);
    margin-bottom: var(--mb-2);
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px 9px rgb(255, 255, 255);
}
.footer_link:hover {
    color:rgb(104, 109, 218);
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 9rem;
    margin-bottom: var(--mb-2);
    margin-left: 100px;
}

.footer_social {
    display: flex; 
    justify-content: center;
    height: 43px;
    margin-left: 100px;
    column-gap: 1.05rem;
    font-size: xx-large; 
}
.footer_social-icon { 
    color: rgb(202, 202, 225);  
  }
  
  .footer_social-icon[href*="instagram"] { 
    color: rgb(245, 225, 228);
    background: rgb(113,50,214);
    background: linear-gradient(137deg, rgba(113,50,214,1) 0%, rgba(219,77,204,1) 24%, rgba(198,54,22,1) 51%, rgba(206,111,20,1) 80%, rgba(219,214,15,1) 98%);
    border-radius: 40%;  
  }
  
  .footer_social-icon[href*="github"] { 
    color: rgb(255, 252, 252);
    background-color: #080808;
    border-radius: 40%; 
  }
  
  .footer_social-icon[href*="linkedin"] { 
    color: rgb(211, 221, 239);
    background-color: #335392;
    border-radius: 40%; 
  }
  
  .footer_social-icon[href*="facebook"] { 
    color: #e6e9f0;
    background-color: #3163c7;
    border-radius: 40%; 
  }
  
.footer_social-link {
    background-color: rgb(132, 149, 163);
    color: rgb(212, 228, 228);
    font-size: 1.25;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer_social-link:hover {
    background-color: rgb(191, 204, 214);
}

.footer_copy {
    display: block;
    margin-top: 3rem;
    color: rgb(220, 204, 204);
    text-align: center;
    font-size: var(--medium-font-size);
}
@media screen and (max-width: 992px){ 
    .footer_social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1.5rem;
    }
     .footer_list {
        display: flex;
        justify-content: center;
        column-gap: 1.35rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        column-gap: 1.35rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
  
  }

@media screen and (max-width: 768px) {
    .footer_social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1.5rem;
    }
     .footer_list {
        display: flex;
        justify-content: center;
        
        column-gap: 1.35rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        column-gap: 1.35rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
}

@media screen and (max-width: 576px) {
    .footer_container {
        padding: 1rem, 0 6rem;
    }
    .footer_list {
        display: flex;
        justify-content: center;
        column-gap: 1.35rem;
        margin-bottom: var(--mb-1);
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        column-gap: 1.35rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
}
/* For cell devices */

@media screen and (min-width: 445px) and (max-width: 575px) {
 
    .footer_container {
        padding: 1rem, 0 6rem;
    }

    .footer_container {
        padding: 1rem, 0 6rem;
    }

    .footer_list {
        display: contents;
        justify-content: center;
        column-gap: 0rem;
        margin-bottom: var(--mb-2);
        margin-left: 0px;
    }
    .footer_link { 
        color: rgb(241, 241, 241); 
    }
    .footer_social {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        height: 35px;
        column-gap: 1.25rem;
        font-size: x-large;
        text-shadow: 1px 1px 7px rgb(171, 207, 216);
    }
}

/* For small devices */
@media screen and (max-width: 250px) and (max-width: 444px){
    .footer_link { 
        color: rgb(241, 241, 241); 
    }
    .footer_container {
        padding: 1rem, 0 6rem;
    } 

    .footer_list {
        display: flex;
        justify-content: center;
        column-gap: 0rem;
        margin-bottom: 10PX;
        margin-left: 0px;
    }

    .footer_social {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 30px;
        height: 34px;
        column-gap: 1.25rem;
        font-size: x-large; 
    }
}