
.journey-container {
    max-width: 768px;
    color: rgb(245, 219, 241);
    padding-bottom: 18px;
}

.journey-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
    color: rgb(245, 219, 241);
}
.journey-button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.journey-button:hover {
    color: var(--title-color-dark);
}

.journey-icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.journey-active {
    color: var(--title-color-dark);
}

.journey-sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.journey-content {
    display: none;
}

.journey-content-active {
    display: block;
}

.journey-data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.journey-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: rgb(248, 230, 219);
}

.journey-subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: rgb(249, 255, 217);
}


.journey-calender {
    font-size: var(--font-medium);
}

.journey-rounder {
    display: inline-block;
    width: 14px;
    height: 10px;
    background-color: #f8f0f0;
    border-radius: 22%;
    transform: translate(1px, -11px);
}

.journey-line {
    display: block;
    width: 1px;
    height: 100%;
    background-color:  #f8f0f0;
    transform: translate(8px, -19px);
} 
.section-title-q{
    color: rgb(255, 255, 255);
}
.section-subtitle-q{
    color: rgb(245, 219, 241);
}
/* For large devices */
@media screen and (max-width: 992px) {
    .journey-container {
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .journey-container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
  }
  
  @media screen and (max-width: 576px) {
    .journey-sections{
        grid-template-columns: initial;
    }

    .journey-button{
        margin: 0 var(--mb-0-75);
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .journey-data{
        gap: 0.5rem;
    }
  }

  @media screen and (max-width: 250px) {
    .journey-data{
        gap: 0.5rem;
    }
  }
  .journey-active {
    color: rgb(250, 212, 168); 
}


  .journey-content:nth-child(1) {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.journey-content:nth-child(2) {
    animation: fadeIn 0.3s ease-in-out forwards;
} 
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
