.work_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20%;
  }
  
  .work_card {
    width: 270px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background-image: linear-gradient(190deg, #bebfe6, #adc2d8, #a7b0c4, #ba9fa9fa, #db9d6bfa);
    box-shadow: 0 6px 8px rgba(214, 195, 159, 0.616);
    transition: 0.3s ease-in;
  }
  
  .work_card:hover{
    transform: scale(1.02);
  }
  
  .work_img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(39, 176, 255, 0.2);
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .work_title {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
  }
  
  .work_title_link{
    font-size: 16px;
    margin-left: 0px;
    height: 600;
    color: #f0eadf;;
  }
  
  
  
  @media screen and (max-width: 992px) {
    .work_container {
      gap: 1.25rem;
    }
  
    .work_card {
      padding: 1rem;
    }
  
    .work_img {
      margin-bottom: 0.75rem;
    }
  
    .work_title {
      margin-bottom: 0.25rem;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .work_container {
      grid-template-columns: max-content;
    }
  }
  
  @media screen and (max-width: 576px) {
    .work_container {
      grid-template-columns: 1fr;
    }
  
    .work_img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 350px) {
    .work_item {
      font-size: var(--small-font-size);
    }
  
    .work_filters {
      column-gap: 0.25rem;
    }
  }